input[type=text],
input[type=number],
input[type=number],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.new {
    border-radius: 10px;
    background-color: #f3f3f3;
    padding: 20px;
}